<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="250" fxFill>
  <div fxLayout="column">
    <button 
      type="button"
      mat-raised-button
      (click)="fileInput.click()" 
    >
      Choose file
      <mat-icon>cloud_upload</mat-icon>
    </button>
    <span *ngIf="selectedFile" class="file-name">{{selectedFile.name}}</span>
    <input hidden (change)="onFileSelected($event)" #fileInput type="file">
    &nbsp;
  </div>
  <div fxLayout="row" *ngIf="categories" fxLayoutGap="75" >
    <div *ngFor="let category of getObjectKeys(categories)">
      <h2>{{ category }}</h2>
      <div 
        cdkDropList
        #{{category}}="cdkDropList"
        [cdkDropListData]="category"
        [cdkDropListConnectedTo]="category"
      >
        <div *ngFor="let item of categories[category]" cdkDrag>
          {{item.Marca}}
        </div>
      </div>
    </div>
  </div>
</div>
